@media (min-width: 800px) {
    .logo{
        width: 30rem;
        height: 11rem;
        margin-top: 0.8rem;
    }
    .p1{
        width: 50rem;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    .p2{
        font-size: 2rem;
        width: 35rem;
        line-height: 2rem;
        margin-bottom: 5rem;
    }
    .primary-screen img{
        width: 41rem;
        height: auto;
    }
    .cards{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 80rem;
    }
    .secundary-text {
        width: 50rem;
    }
    .main-container-section2 h1{
        width: auto
    }
    .img-container-section3 p{
        margin-top: 31rem;
        /* margin-left: 40rem; */
        font-size: 5.4rem;
        margin-right: 21rem;
    }
    .img-container-section3 img:nth-child(3){
        display: block;
        
    }
    .img-container-section3 img:nth-child(2){
        max-width: 33.6rem;
    }
    .card-container{
        gap: 4rem;
    }
    .footer__container--redes{
        display: flex;
        gap: 4rem;
    }
    .footer__container--redes img{
        width: 4rem;
    }
    .main-container-section2 p{
        width: auto;
    }
   
}

@media (min-width: 950px){
    .img-container-section3 p{
        margin-right: 22.5rem;
    }
}